* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}
#cursor{
    height: 25px;
    width: 25px;
    background-color:#95c11e ;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#nav {
    height: 140px;
    width: 100%;
    display: flex;
    padding: 0 150px;
    align-items: center;
    justify-content: flex-start;
    /* flex start - starts the element from the left side of the nav */
    gap: 50px;
    /* this property adds the gap between elements */
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 100px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    /*this property fits the object to in the parent element or covers the parent height and width*/
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    margin: 10px 0 20px 0;
    position: relative;
}

#page1 h1::before {
    content: 'EAT. DRINK. PLAY.';
    /* this property adds the content before the the text in the h1 tag */
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    z-index: -1;
    /* it highlight the font border 
      we have to give width and color
    */
    -webkit-text-stroke: 2px #95c11e;
}

#page1 h1::selection {
    background-color: #fff;
    color: #91b508;
}

#page1 h2 {
    font-size: 40px;
    text-transform: capitalize;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    /* font-weight: 200; */
}

#page2 {
    height: 100vh;
    width: 100%;
}