*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 140px;
    width: 100%;
    display: flex;
    padding: 0 150px;
    align-items: center;
    justify-content: flex-start;
    /* flex start - starts the element from the left side of the nav */
    gap: 50px;
    /* this property adds the gap between elements */
    position: fixed;
}
#nav img{
  height: 100px;
} 
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*this property fits the object to in the parent element or covers the parent height and width*/
}